# Require admin approval to modify all files in the root of the repository
/* @gupta-abhay @bowenyang008

# Require team approval for code changes
/compose_rl/ @gupta-abhay @abaheti95 @jdchang1 @bowenyang008
/scripts/ @gupta-abhay @abaheti95 @jdchang1 @bowenyang008
/tests/ @gupta-abhay @abaheti95 @jdchang1 @bowenyang008

# Require admin approval to change the CI build configuration
/.github/ @gupta-abhay @bowenyang008
