# Require admin approval to modify all files in the root of the repository
/* @bcui-db @gupta-abhay @bowenyang008

# Require team approval for code changes
/compose_rl/ @bcui-db @gupta-abhay @abaheti95 @jdchang1 @bowenyang008
/scripts/ @bcui-db @gupta-abhay @abaheti95 @jdchang1 @bowenyang008
/tests/ @bcui-db @gupta-abhay @abaheti95 @jdchang1 @bowenyang008

# Require admin approval to change the CI build configuration
/.github/ @bcui-db @gupta-abhay @bowenyang008
